---
layout: default
title: Changelogs | Melonz's Blog
permalink: /changelogs
description: Changelogs for our various products
---

<div id="main-stuff" class="post-main">
{% for post in site.categories.Changelogs %}
							 {% if post.url %}
								<div onclick="window.location.replace('{{ post.url }}')" class="box blog-post" style="cursor: pointer; cursor: hand;">
										{% if post.badge-text %}
										<h1 class="title"><span class="tag is-medium is-danger">{{ post.badge-text }}</span> {{ post.title }}</h1>
										{% else %}
										<h1 class="title">{{ post.title }}</h1>
										{% endif %}
										<p class="subtitle">{{ post.desc }}</p>

										<small>Posted by <a href="{{ post.author-link }}">{{ post.author }}</a></small>
								</div>
               {% endif %}
             {% endfor %}
</div>
