<nav class="navbar is-melonz-blue">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img class="circle" src="/img/melonz-logo.png" style="box-shadow: 0px 0px 10px #888888;" alt="Melonz" width="28" height="28">
      <span style="padding-left: 5px; font-weight: bold;">{{ site.title }}</span>
    </a>

    <div class="navbar-burger burger" data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-hoverable" href="/">
        <i class="fa fa-home icon-small" aria-hidden="true"></i> Home
      </a>
      <a class="navbar-item is-hoverable" href="/allposts">
        <i class="fa fa-file-word-o icon-small" aria-hidden="true"></i> All posts
      </a>
      <a class="navbar-item is-hoverable" href="/about/">
        <i class="fa fa-file-text-o icon-small" aria-hidden="true"></i> About Melonz
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item is-hoverable" href="/search">
        <i class="fa fa-search icon-small" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>
