<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <link href="/css/post.css" rel="stylesheet">
</head>

<body class="d-flex flex-column">
  {% include navbar-post.html %}
  <div id="main-stuff" class="post-main flex-grow">
      <div class="card"> <!-- Sets the card at the top -->
        {% if page.image-banner %}
        <div class="card-content" style="background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url('/img/posts/{{ page.image-banner }}'); background-size: cover;">
        {% else %}
        <div class="card-content" style="background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url('/img/posts/{{ page.image }}'); background-size: cover;">
        {% endif %}
          <div class="media">
            <div class="media-content" style="text-shadow: 0px 0px 20px #000;">
              <p style="font-weight: bold;" class="title is-3">{{ page.title }}</p>
              <p class="subtitle is-5">{{ page.desc }}
                <br>
                <span class="card-text">Posted in {{ page.category }} by <a class="post-banner" href="{{ page.author-link }}">{{ page.author }}</a> | 
                {% if page.comments %}<a class="post-banner" href="#disqus_thread">Add a comment</a>{% endif %}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    <br>
    <div class="content" id="post-content">
      {{ content }}
    </div>
    <br>
    <div class="box" id="share-post">
        <h1 class="title" style="font-weight: bold;">Enjoyed the post?</h1>
        <span class="is-4">Share it around!</span>
        <ul class="nav nocolor">
            <li class="nav-item"><a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }} - {{ page.url | prepend: site.url }} via {{ site.twitterhandle }}" class="nav-link tooltip" data-tooltip="Tweet it on Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li class="nav-item"><a target="_blank" href="https://www.reddit.com/submit?url={{ page.url | prepend: site.url }}&title={{ page.title }}" class="nav-link tooltip" data-tooltip="Post it on Reddit"><i class="fa fa-reddit-alien fa-lg"></i></a></li>
            <li class="nav-item"><a target="_blank" href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}&hl=en&text={{ page.desc }}" class="nav-link tooltip" data-tooltip="Post it on Google+"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a target="_blank" href="mailto:change@this.email?subject={{ page.title }} via {{ site.title }}&body={{ page.desc }} Read more at {{ page.url | prepend: site.url }}" class="nav-link tooltip" data-tooltip="Mail it to someone's inbox"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <br> {% include comments.html %}
  </div>
  <br>
  <br> {% include foot.html %}
</body>

</html>
